<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="topbar centered" >
    <a href="/overview" class="fa fa-home" style=" position: relative;right: 30%;color: white;margin-top: -10px;text-decoration: none;"></a>
    <p style="margin-top: 10px;">MTD Attend</p>

    <div class="w3-dropdown-hover w3-hide-small" style="  position: relative;left: 30%;margin-top: -10px;">
        <a class="w3-padding-large "><i class="fa fa-bars"></i></a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4" style="font-size: 15px">
            <a th:if="${user.role_id == 1}" href="/student/statistics" class="w3-bar-item w3-button" style="text-decoration:none">Statistics</a>
            <a th:if="${user.role_id > 1}" href="/teacher/statistics" class="w3-bar-item w3-button" style="text-decoration:none">Statistics</a>
            <a><form th:action="@{/logout}" method="get" class="w3-bar-item w3-button" style="position: relative;right: 10px">
                <input class="w3-bar-item w3-button" type="submit" value="Log out" style="padding: 0px;">
            </form></a>
        </div>
    </div>
</div>

</body>
</html>