<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Admin</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="statics/header :: header"></div>
<div style="margin-left: 20px">
    <!-- <div w3-include-html="../../kea/header"></div> -->
    <div class="horizontal">
        <div class="list">
            <p>Users</p>
            <a class="clickable" th:href="@{/users/add}">new</a>
            <a class="clickable" th:href="@{/users}">View</a>
        </div>

    <br><br>
        <div class="list">
            <p>Class</p>
            <a class="clickable" th:href="@{/admin/addClass}">new</a>
            <a class="clickable" th:href="@{/admin/class}">View</a>
        </div>
    </div>

    <div class="centered fill">
        <a class="clickable" th:href="@{${statsUrl}}">Statistics</a>
        <a class="clickable" href="/users/add" >Add Users</a>
        <a class="clickable" href="/admin/class" >Manage Classes</a>
        <a class="clickable" href="/class/statistics" >Class Statistics</a>
    </div>

</div>
    <script>
        w3IncludeHTML();
    </script>
</body>
</html>