<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Admin Class</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>

    <style>
        .dot {
            height: 45px;
            width: 45px;
            background-color: #007bff;
            border-radius: 50%;
            display: inline-block;
        }
        #rcorners2 {
            border-radius: 15px;
            margin-left: 15px;
            margin-top: 15px;
            border: 3px solid #E8E8E8;
        }
    </style>
</head>
<body>

    <!-- dynamic header -->
    <div w3-include-html="../../header"></div>

    <div class="centered title">Classes</div>

    <a th:if="${role > 2}" href="/admin/addClass" class="clickable" style="position: relative;left: 90%;">+ Add Class</a>

    <!-- Team Container -->
    <div class="w3-container w3-padding-64 w3-center" id="team">

         <div class="w3-row"><br>

            <div th:each="class : ${classes}" class="w3-quarter" id="rcorners2">
                <span class="dot"></span>
                <h3 th:text="${class.className}"></h3>
                <div class="w3-half">
                    <a>
                        <button class="w3-button w3-block w3-teal w3-section" title="Update">
                            <i class="fa fa-pencil"></i>
                    </button>
                    </a>
                </div>
                <div class="w3-half">
                    <a th:href="@{'/admin/' + ${class.classId} + '/deleteClass'}">
                        <button class="w3-button w3-block w3-red w3-section" title="Delete">
                            <i class="fa fa-trash"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <script>

        <!-- dynamic header -->
        w3IncludeHTML();
    </script>

</body>
</html>