<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Admin</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div>
    <div w3-include-html="../../header"></div>
    <div class="horizontal">
        <div class="list">
            <p>Users</p>
            <a class="clickable" href="/users/add">new</a>
            <a class="clickable" href="/users">View</a>
        </div>
    </div>

    <div class="centered fill">
        <a class="clickable" th:href="${statsUrl}">Statistics</a>
        <a class="clickable" href="/users/add" >Add Users</a>
        <a class="clickable" href="/admin/class" >Manage Classes</a>
        <a class="clickable" href="/class/statistics" >Class Statistics</a>
    </div>

</div>
    <script>
        w3IncludeHTML();
    </script>
</body>
</html>