<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Title</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
    <div w3-include-html="../../header"></div>
    <div class="centered list full">
        <p class="title">Are you sure?</p>
        <p>You are about to delete <b th:text="${item}"></b></p>

        <div class="horizontal">
            <a th:href="${returnUrl}" class="clickable">Return</a>
            <a th:href="${deleteUrl}" class="clickable">Confirm deletion</a>
        </div>
    </div>

    <script>
            w3IncludeHTML();
    </script>
</body>
</html>