<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Class overview</title>
</head>
<body>
    <div>
        <div th:text="course.courseName"></div>
        <div>
            <div>Lectures</div>
            <div>
                <div th:each="lecture : ${lectures}">
                    <a th:href="${isTeacher} ? ${'/lecture/' + lecture.lectureID + '/attendance/createcode'} : @{/lecture//attendance}">
                        <span th:text="${lecture.lectureName}"></span>
                        <span th:text="${lecture.date}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>