<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Incorrect</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
<div w3-include-html="../../kea/header"></div>
<div class="centered title">
    <h2>Incorrect code!</h2>
</div>
<div class="centered title">
    <a class="modal-content" th:href="'/lecture/' + ${lectureid} + '/attendance'">
        <button class="w3-right w3-green button">Try again</button>
    </a>
</div>

<script>
    w3IncludeHTML();
</script>
</body>
</html>