<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Success</title>
</head>
<body>
<div class="topbar">
    <a th:href="@{/logout}" style="position: absolute" class="clickable spacing centered" title="Logout"> Logout
    </a>

    <div class="centered">
        <span th:text="${l}"></span>
    </div>
</div>
<div class="centered title">
    <h2>Success, correct code entered!</h2>
</div>
<div class="centered title">
    <a class="modal-content" th:href="@{/overview}">
        <button class="w3-right w3-green button">Back</button>
    </a>
</div>

</body>
</html>